{% extends "dantza/base.html" %}

{% block title %}Maileguak{% endblock title %}

{% block edukia %}
<div class="container">

<!-- Mailegua egiteko modala -->

<div class="clearfix">
	<a href="/maileguak/berria" target="_blank" style="margin-top: 15px;" class="float-right btn btn-primary">
	  	Mailegu berria egin
	</a>
</div>

<!-- Itzuli gabeko maileguen zerrenda, administratzaileak eta arduradunek ikusi ahalko dute -->
<div class="card" style="margin-top: 15px; margin-bottom:15px;">
		<div class="card-header">Itzuli gabeko maileguak</div>
		<div class="card-body">
			{% if mail_list %}
				<div class="table-responsive">
					<table class="table table-hover table-striped">
					  <thead>
							<tr>
							  	<th scope="col">Dantzaria</th>
							  	<th scope="col">Data</th>
							  	<th scope="col">Arropa</th>
							  	<th scope="col">Tresnak</th>
								<th scope="col">Korreoa</th>
								<th scope="col">Telefonoa(k)</th>
								<th scope="col"></th>
							</tr>
					  	</thead>
					  	<tbody>
							{% for m in mail_list %}
							  	<tr> 
								  	<th scope="row" style="vertical-align:middle;">{% if m.dantza_taldea %}{{ m.dantza_taldea }}<br/>({{ m.dantzari }}){% else %}{{ m.dantzari }}{% endif %}</th>
								  	<td style="vertical-align:middle;">{{ m.mailegatze_data }}</td>
								  	<td style="vertical-align:middle;">{{ m.arropa.all|join:", " }}</td>
								  	<td style="vertical-align:middle;">{{ m.materiala.all|join:", " }}</td>
								  	<td style="vertical-align:middle;"><a href="mailto:{{ d.email }}">{{ m.dantzari.email }}</a></td>
								 	<td style="vertical-align:middle;">{{ m.dantzari.telefonoak }}</td>
								  	<td  style="vertical-align:middle;">
									<a href="?return&id={{ m.pk }}" class="btn btn-primary">Itzuli</a>
							  	</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				Ez dago itzuli gabeko mailegurik<br/>
			{% endif %}
		</div>
</div>
{% endblock edukia %}