{% extends "dantza/base.html" %}

{% block title %}Materiala{% endblock title %}

{% block edukia %}
<div class="container">
	<a class="btn btn-primary" href="/materiala" style="margin-top: 15px;">Atzera</a>
	<div class="card" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="card-header">Tresnen zerrenda</div>
		<div class="card-body">
	{% if a_list %}
	{% load auth_extras %}
		<div class="table-responsive">
			<table class="table table-hover table-striped">
			  <thead>
				<tr>
				  <th scope="col">Mota</th>
					<th scope="col">Mailegatua?</th>
					<th>Ekintzak</th>
				</tr>
			  </thead>
			  <tbody>
			{% for a in a_list %}

				  		<tr>
						  <th scope="row" style="vertical-align:middle;">{{ a.material_mota }}</th>
						  <td style="vertical-align:middle;">
							  {% if a.mailegatua %}
								Bai, {{ a.get_mailegua.dantzari }}-(r)i
							  {% else %}
								Ez
							  {% endif %}
						  </td>
						  <td style="vertical-align:middle;">
							  {% if 'page' in request.GET %}
							  	<a class="btn btn-danger" href="?page={{ request.GET|get:'page' }}&delete&id={{ a.pk }}">Ezabatu</a>
							  {% else %}
							  	<a class="btn btn-danger" href="?delete&id={{ a.pk }}">Ezabatu</a>
							  {% endif %}
							  
						  </td>
					  </tr>
				  
			{% endfor %}
				</tbody>
			</table>
			
<nav aria-label="paginator">
  <ul class="pagination justify-content-center">
	  {% if a_list.has_previous %}
	  	<li class="page-item"><a class="page-link" href="?page={{ a_list.previous_page_number }}">Aurrekoa</a></li>
	  {% else %}
	  	<li class="page-item disabled"><a class="page-link" href="#">Aurrekoa</a></li>
	  {% endif %}
    <li class="page-item active"><div class="page-link">{{ a_list.number }}</div></li>
      {% if a_list.has_next %}
	  	<li class="page-item"><a class="page-link" href="?page={{ a_list.next_page_number }}">Hurrengoa</a></li>
	  {% else %}
	  	<li class="page-item disabled"><a class="page-link" href="#">Hurrengoa</a></li>
	  {% endif %}
  </ul>
</nav>
			
			</div>

	{% else %}
		Oraindik ez dago mota honetako tresnarik.<br/>
	{% endif %}
		</div>
	</div>
</div>
{% endblock edukia %}